bottun.css
#box6 p{
  margin:0px; 
        position: absolute;
    bottom: -541px;
    left: 351px;
    height: 222px;
    width: 207px;
    margin-: 20px;
    padding: 6px;
    text-align: center;
    background-color: #f8bd7f;
    border-radius: 8px;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.2);
}

#box7{
  position: absolute;
    bottom: -539px;
    height: 210x;
     margin-: 20px;
     width: 138px;
     left: 10px;
  padding: 16px;
  text-align: center;
  background-color: #6D6A75; 
  border-radius: 8px;

  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.2);
}
#clicfaceboob {
  width: 20px
  margin: 20px 30px;
}
